# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/

# venv
.venv/
venv/

# Poetry
poetry.lock

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Tests
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.mypy_cache/
.ruff_cache/

# Local
*.log
